/* 
  Google Font:
  Martel Sans for Headers && Source Serif Pro for block of text
*/
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&family=Source+Serif+Pro:wght@400;600&display=swap");
/*
  Css Variable & container adjust
  FOR TEXT    :: font-family: "Source Serif Pro", serif;
  FOR HEADING :: font-family: "Martel Sans", sans-serif;
*/
:root {
  --mainColor: #292929;
  --paddingRight: 15px;
  --paddingLeft: 15px;
  --container-max-widths: 1140px;
}
.container {
  width: var(--container-max-widths);
  padding-right: var(--paddingRight);
  padding-left: var(--paddingLeft);
  margin-right: auto;
  margin-left: auto;
}
.hidden {
  display: none;
  visibility: hidden;
}
/*
  Box Sizing for CSS box model
*/
* {
  box-sizing: border-box;
}
/*
  Typography
*/
body {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: var(--mainColor);
}
/*
  Element Stylesheet 
*/
.lead,
section.content_api {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: inherit;
}
section.content_api {
  height: auto;
}
.text {
  text-align: center;
}
.lead .text h1 {
  font-family: "Martel Sans", sans-serif;
  font-size: 42px;
  margin-bottom: 0;
}
.lead .text code {
  background-color: #2c2c2c;
  border-radius: 2px;
  color: #fff;
  padding: 1em;
  display: block;
}
.lead .text code mark {
  background-color: #ffcf6b;
  border-radius: 2px;
}
.lead p,
section.content_api > p {
  font-family: "Source Serif Pro", serif;
  font-size: 22px;
  margin-top: 0;
  text-align: center;
}
main {
  width: inherit;
}
main label {
  width: inherit;
  margin: 1em 0;
}

main label input.username {
  width: 80%;
  display: inline-block;
  margin: auto;
}
input.username {
  font-family: "Source Serif Pro", serif;
  padding: 1.5em;
  border: 1px solid #d2d4d7;
  border-radius: 3px;
  max-height: 70px;
  font-size: 23px;
}
input.username:focus,
input.username:active {
  outline: 2px solid #2c2c2c;
  border: none;
}
main label form.form {
  width: inherit;
}
main label input.submit {
  width: 19%;
  height: 70px;
  cursor: pointer;
  border: 1px solid #d2d4d7;
  color: #2c2c2c;
  border-radius: 3px;
  max-height: 70px;
  font-size: 23px;
  font-family: "Source Serif Pro", serif;
}
input.submit:hover {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #2c2c2c;
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}
section.content_api h1 {
  font-family: "Martel Sans", sans-serif;
  font-size: 42px;
  margin-bottom: 0;
}
.info_user {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(50px, auto));
  width: inherit;
}
ul.avatar {
  padding: 0;
  margin: 0;
  grid-column: 6 / 8;
}
ul.avatar li {
  list-style: none;
}
ul.avatar li img {
  max-width: 100%;
  border-radius: 50%;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  padding: 4px;
}
ul.avatar li h2 {
  font-family: "Martel Sans", sans-serif;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}
ul.avatar li h2 a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainColor);
  font-size: 1.3em;
}
section.repos {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  padding: 4em 0;
}
article.repos_details {
  padding: 1em;
  border: 1px solid #ededed;
  border-radius: 5px;
  grid-column: span 3;
}
article.repos_details a {
  text-decoration: none;
  color: var(--mainColor);
}
article.repos_details a h2 {
  font-family: "Martel Sans", sans-serif;
  word-break: break-word;
  font-size: 1.6em;
  margin: 0.5em 0;
}
article.repos_details a p {
  font-size: 16px;
  text-align: left;
  word-break: break-word;
  text-transform: lowercase;
}
article.repos_details a p::first-letter {
  text-transform: uppercase;
}
.repos_details span.date {
  font-size: 13px;
  font-weight: 600;
}
article.repos_details span.lang {
  font-family: "Martel Sans", sans-serif;
  font-size: 14px;
}

article.repos_details span.lang strong {
  color: var(--mainColor);
  padding: 1px 5px;
  border-radius: 3px;
}
article.repos_details .topic strong {
  margin: 0 2px;
  border-radius: 8px;
  display: inline-block;
  color: #0969da;
  font-size: 12px;
  cursor: pointer;
}
article.repos_details .topic strong:hover {
  color: #035175;
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}
article.repos_details a ul {
  font-family: "Martel Sans", sans-serif;
  padding: 0;
  font-weight: bold;
}
article.repos_details a ul li {
  list-style: inside square;
}
.content_api p span {
  font-weight: 600;
  font-family: "Martel Sans", sans-serif;
}
